html {
  scroll-padding-top: 400px; /* Global offset for all anchor links */
  scroll-behavior: smooth; /* Optional: adds a nice sliding effect */
}
.margin-0,
.padding-0 {
  margin: 0px;
  padding: 0px;
}

/* Navigation */
.profile-logo {
  font-style: normal;
  color: darkslategrey;
  text-align: center;
  font-size: 2rem;
  font-weight: 400;
  margin: 0px;
  padding: 0px;
}
.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}
.code-image {
  padding-bottom: 3px;
  margin: 0px 2px;
}
.container-fluid {
  padding: 0px;
  margin: 0px 14px;
}
.navigation-bar {
  background: linear-gradient(90deg, #00fff0, #0083fe);
}
.navbar-collapse {
  padding: 0px;
  margin-right: 20px;
}
.btn-CV {
  width: 120px;
  height: 35px;
  margin: 10px 10px;
  padding: 0px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.dark-mode-btn {
  width: 120px;
  height: 35px;
  margin: 10px 10px;
  padding: 0px;
  padding: 2px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.dark-mode {
  text-align: center;
}
.cv-btn-image {
  height: 20px;
  margin-right: 5px;
}
.drop-down-btn-container {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
}
.nav-item {
  color: whitesmoke;
  font-weight: 600;
}
.nav-link {
  color: #545454;
  padding: 5px 10px;
}
.nav-item .nav-link:hover {
  color: whitesmoke;
}

/* Home */
.tech-stack-image {
  border-style: none;
  border-radius: 49%;
}
.dark {
  display: none;
}

[data-bs-theme="dark"] .light {
  display: none;
}
[data-bs-theme="dark"] .dark {
  display: flex;
  justify-content: center;
  text-align: center;
}
.profile-desc {
  text-align: center;
}

/* Projects */
#project {
  margin: 20px 0px;
}
#carouselExampleDark {
  margin: 20px 250px;
}
.education-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.project-image {
  border-radius: 10px;
}
.carousel-inner {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.carousel-caption {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background-color: whitesmoke;
  border-radius: 5px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
.project-desc {
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0);
}
.project-label {
  margin: 0px;
  margin-bottom: 5px;
  text-align: center;
}
.btn-link-text {
  text-decoration: none;
}
.project-icon-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.project-feature-icon {
  margin-left: 10px;
}

/* About Me */
.feature-icon {
  width: 3rem;
  height: 3rem;
  border-radius: 0.75rem;
}
.about {
  margin: 20px 0px;
}
.feature-icon-education {
  margin-left: 10px;
}
.school-icon-container,
.experience-icon-container,
.get-in-touch-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: center;
}

.exp-container {
  margin: 0px;
  margin-bottom: 20px;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
/* Dark Mode Target */
[data-bs-theme="dark"] .exp-container {
  background-color: rgba(245, 245, 245, 0);
}
.experience {
  padding: 10px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}
/* Dark Mode Target */
[data-bs-theme="dark"] .experience {
  background-color: rgba(173, 168, 168, 0.119);
}

.experience p {
  margin: 0px;
}

.desc {
  padding: 10px;
}

.exp-desc {
  text-align: start;
}

.education-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.education-image-dark {
  display: none;
  width: 100%;
  height: auto;
  border-radius: 10px;
}
#education {
  margin: 0px;
  padding: 0px;
}
/* Dark Mode Target */
[data-bs-theme="dark"] .education-image {
  display: none;
}
[data-bs-theme="dark"] .education-image-dark {
  display: block;
  width: 100%;
  height: auto;
}

.contact-details {
  padding-left: 10px;
}

.social {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.social-links {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Footer */
.footer-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: space-around;
  align-items: center;
}
.footer-container p {
  margin: 0;
  padding-bottom: 20px;
  font-size: 18px;
}
.footer {
  background: linear-gradient(90deg, #00fff0, #0083fe);
  margin-top: 20px;
}

@media (max-width: 780px) {
  .profile {
    margin: 0px 10px;
  }

  .dark-mode-btn {
    margin: 10px 10px;
  }

  #carouselExampleDark {
    margin: 10px 10px;
  }
  .education {
    width: 100%;
    height: auto;
  }

  .experience {
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }

  /* About Me */
}
@media (min-width: 781px) and (max-width: 1200px) {
  .profile {
    margin: 0px 100px;
  }
  .dark-mode-btn {
    margin: 10px 10px;
  }

  #carouselExampleDark {
    margin: 20px 80px;
  }
  .project-icon-container,
  .education-container {
    margin: 0px 80px;
  }

  .drop-down-btn-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  .education {
    width: 80%;
    height: auto;
  }

  .experience {
    justify-content: flex-start;
    text-align: left;
    align-items: flex-start;
  }
}
@media (min-width: 1201px) {
  .profile {
    margin: 0px 350px;
  }
  #carouselExampleDark {
    margin: 20px 350px;
  }
  .project-icon-container,
  .education-container {
    margin: 20px 350px;
  }
  .drop-down-btn-container {
    flex-direction: row;
    justify-content: flex-end;
  }
  .education {
    width: 85%;
    height: auto;
  }
}
